.carrossel {
	margin-top: 100px;
}

/* ASSINATURA */

.assine-home {
    margin-top: 60px;
	width: 100%;
    margin-bottom: 60px;
}

.pequena-home {
    background-color: #F8D448;
    height: 220px;
    margin-left: 500px;
    margin-top: 30px;
    border-radius: 4px;
	box-shadow: 0px 6px 8px 0px #a6a6a6ab;
}

.p-home {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 60px;
	color: #920042;
}

.assine-home .subtitulo {
	color: #FF1980;
}

.assine-home_descricao {
	margin-left: 500px;
	margin-top: -20px;
    display: block;
}

.assine-home_descricao p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
	text-align: left;
}

.assine-home_pequena {
    margin-top: 25px;
}

.assine-home_pequena:nth-child(1), .assine-home_pequena:nth-child(3) {
    margin-left: 40px;
    margin-right: 40px;
}

.assine-home_pequena p {
	font-size: 14px;
    width: 200px;
}

.assine-home_pequena h2 {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: -10px;
}

.imagem {
    margin-top: 20px;
}

.assine-quadro_home {
    position: absolute;
    margin-top: 40px;
    margin-left: -20px;
}

.margem {
    margin-left: -10px;
}


/*LIBRAS*/

.p-assine {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 60px;
	color: #920042;
}

.assinatura-home, .subtitulo {
	color: #FF1980;
}

.assine_descricao {
	margin-left: 0px;
	margin-top: -20px;
}

.assine_descricao p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: black;
	text-align: left;
}

.assine_pequena, .pequena {
	margin-left: 0px;
	margin-top: 16px;
	margin-right: 40px;
}

.assine_pequena p {
	font-size: 14px;
}

.assine_pequena h2 {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: -4px;
}

.link {
	color: #ED1C16;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
}

.link:hover {
	color: #FF1980;
}

.titulo_pequena {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 4px;
}

.star, .fone {
	color: #FF1980;
}

.vagas {
	width: 100%;
}
  
  /* PLATAFORMAS */

  .gratuitas h2 {
	font-size: 20px;
	line-height: 50px;
	font-weight: 600;
	color: #FF1980;
	text-align: center;
	margin-top: 80px;
	
}

.parceiros {
	padding-top: 0px;
	padding-bottom: 60px;
  }
  
  
  .parceiros ul {
	padding: 0 20px;
	max-width: 1400px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 auto;
  }
  
  .parceiros li {
	display: flex;
	padding: 32px;
	border-left: 2px solid #ff198000;
  }
  
  .parceiros img {
	margin-left: 40px;
  }
  
  .parceiros li:first-child,
  .parceiros li:nth-child(5) {
	border-left: none;
  }
  
  .parceiros li:nth-child(n + 5) {
	border-top: 2px solid #ff198000;
  }

  @media (max-width: 800px) {
	.parceiros {
	  padding-bottom: 60px;
	}
	.parceiros ul {
	  grid-template-columns: repeat(2, 1fr);
	}
	.parceiros li:nth-child(n + 3) {
	  border-top: 2px solid #ff198000;
	}
	.parceiros li:nth-child(odd) {
	  border-left: none;
	}
  }