.carrossel {
	margin-top: 100px;
}


/*Assine*/

.p-assine {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 60px;
	color: #920042;
}
.assinatura-home {
	width: 100%;
	padding: 40px 0;
	margin-bottom: 0px;
}

.assinatura-home, .subtitulo {
	color: #FF1980;
}

.assine_descricao {
	margin-left: 0px;
	margin-top: -20px;
}

.assine_descricao p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #4F0828;
	text-align: left;
}

.assine_pequena, .pequena {
	margin-left: 0px;
	margin-top: 16px;
	margin-right: 40px;
}

.assine_pequena p {
	font-size: 14px;
}

.assine_pequena h2 {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: -4px;
}

.link {
	color: #ED1C16;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 2px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
}

.link:hover {
	color: #FF1980;
}

.titulo_pequena {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 4px;
}

.star, .fone {
	color: #FF1980;
}

/*Depoimento*/

.depoimento {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;
	padding-top: 80px;
  }
  
  .depoimento-conteudo {
	padding: 0px 40px 80px 480px;
	align-self: end;
  }
  
  .depoimento-conteudo p {
	max-width: 32ch;
	font-family: "Merriweather", serif;
	font-style: italic;
	font-size: 28px;
	line-height: 38px;
	font-weight: 900;
	margin-bottom: 32px;
	position: relative;
  }
  
  .depoimento p::before,
  .depoimento p::after {
	font-size: 5rem;
	color: var(--cor-p2);
	position: absolute;
  }
  
  .depoimento p::before {
	content: "“";
	left: -50px;
	top: 0px;
  }
  
  .depoimento p::after {
	content: "”";
	left: 380px;
	top: 140px
  }
  
  @media (max-width: 800px) {
	.depoimento {
	  grid-template-columns: 1fr;
	  text-align: center;
	}

	.depoimento-conteudo {
	  padding: 40px 20px;
	  margin: auto;
	}
  }
  
  /*Ouça em*/

.parceiros {
	padding-top: 20px;
	padding-bottom: 60px;
  }
  
  
  .parceiros ul {
	padding: 0 20px;
	max-width: 1400px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin: 0 auto;
  }
  
  .parceiros li {
	display: flex;
	padding: 32px;
	border-left: 2px solid #ff198041;
  }
  
  .parceiros img {
	margin-left: 40px;
  }
  
  .parceiros li:first-child,
  .parceiros li:nth-child(5) {
	border-left: none;
  }
  
  .parceiros li:nth-child(n + 5) {
	border-top: 2px solid #ff198041;
  }

  @media (max-width: 800px) {
	.parceiros {
	  padding-bottom: 60px;
	}
	.parceiros ul {
	  grid-template-columns: repeat(2, 1fr);
	}
	.parceiros li:nth-child(n + 3) {
	  border-top: 2px solid #ff198041;
	}
	.parceiros li:nth-child(odd) {
	  border-left: none;
	}
  }