

/* CRONICAS */

.cronicas-titulo {
    margin-top: 60px;
}

.entrevista-titulo {
    margin-top: 160px;
}

.entrevistas {
	margin-bottom: 60px;
}

.cronicas-todos, .entrevista-todos {
    text-align: center;
}

.cronica-imagem {
    width: 100%;
    height: 100%;
    margin-bottom: 8px;
	overflow: hidden;
	-webkit-transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	cursor: pointer;
	margin-right: 120px;
}

.cronica-imagem:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 1;
}

.cronicas-todos h3, .entrevista-todos h3 {
    color: #FF1980;
    font: 500 20px 'Poppins', sans-serif;
    margin-bottom: 4px;
    text-align: center;
	margin-top: 30px;
}

.cronicas-todos h3 a, .entrevista-todos h3 a {
    color: #FF1980;
    font: 500 20px 'Poppins', sans-serif;
    margin-bottom: 4px;
    text-align: center;
	margin-top: 30px;
	text-decoration: underline;
}


.cronicas-todos p, .entrevista-todos p {
    width: 100%;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    height: 100px;
}


.midia_dados h3 {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 8px;
    text-transform: uppercase;
}

.midia_dados {
    margin-top: 160px;
    margin-bottom: 60px;
}

.midia_dados p {
	color: #920042;
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}

.midia_kit h3 {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 8px;
    text-transform: uppercase;
}

.midia_kit a {
	color: #ED1C16;
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Roboto', sans-serif;
}

.midia_dados a:hover {
    color: #FF1980;
}

.midia_dados span:nth-of-type(even) {
	margin-bottom: 30px;
}

.contato-redes ul {
	margin-top: 10px;
}

.contato-redes ul {
	display: block;
	margin-right: 10px;
}

.contato-redes ul a {
	color: #ED1C16;
	font-size: 26px;
	margin-right: 15px;
}

.contato_dados ul a:hover {
	color: #FF1980;
}
