
.introducao-interna {
	margin-top: 180px;
	margin-bottom: -40px;
}

.projeto_item {
	padding-top: 40px;
}

.projeto_info-1 {
	background: #FFFAE5;
	padding-bottom: 20px;
	box-shadow: 0px 6px 8px 0px #a6a6a6ab;
}

.projeto_info {
	background: #F8D448;
	margin-top: 6px;
	box-shadow: 0px 6px 8px 0px #a6a6a6ab;
}

.projeto_item img {
	border-radius: 4px;
}

.projeto_info p, .projeto_info-1 p {
	font-size: 18px;
	line-height: 25px;
	height: 180px;
	padding: 16px 40px 30px;
}

.projeto_info-1 h3, .projeto_info h3 {
	color: #FF1980;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 500;
	padding-top: 30px;
	margin-left: 40px;
}

.projeto_info ul li, .projeto_info-1 ul li {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 0px;
}

.link {
	text-align: center;
}

.projeto_info ul li:nth-child(1), .projeto_info ul li:nth-child(2), .projeto_info-1 ul li:nth-child(1), .projeto_info-1 ul li:nth-child(2) {
	margin-bottom: 2px;
}

.projeto_info ul li:nth-child(even), .projeto_info-1 ul li:nth-child(even) {
	margin-left: 2px;
}

.projetos {
	margin-bottom: 80px;
}

